<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Fork card deck</h5>
    <button type="button" class="close" (click)="activeModal.dismiss()">
      &times;
    </button>
  </div>
  <div class="modal-body">
    <div class="modal-info mb-3">
      <p>
      This creates a new card deck.
      </p>
      <p>
        The new deck will be a copy of deck <strong>{{deck.name}}</strong> in its current state.
      </p>
    </div>
    <div> </div>
    <form [formGroup]="deckForm">
      <div class="form-group">
        <label for="name">Name of new Deck</label>
        <input type="text" class="form-control" id="name" formControlName="name">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Cancel</button>
    <button type="button" class="btn btn-primary" [disabled]="!deckForm.valid" (click)="forkDeck()">Create</button>
  </div>
</div>
