<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand ml-lg-5" routerLink="/">CardWiki</a>
  <button class="navbar-toggler ml-5" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto flex-grow-1">
      <li class="nav-item">
        <a class="nav-link" routerLink="/categories">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/search">Decks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users">Users</a>
      </li>
      <li class="nav-item dropdown" *appUserRole="'USER'">
        <a class="nav-link dropdown-toggle" href="#" id="createDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-plus"></i> New
        </a>
        <div class="dropdown-menu" aria-labelledby="createDropdown">
          <a class="dropdown-item" routerLink="/categories/new">Category</a>
          <a class="dropdown-item" (click)="openDeckModal(); false" href="#">Deck</a>
        </div>
      </li>
    </ul>
    <form (ngSubmit)="onSubmit()" #searchForm="ngForm" class="form-inline my-2 my-lg-0 mr-auto mw-25 flex-grow-1">
      <div class="input-group flex-grow-1" role="group">
        <input [(ngModel)]="searchTerm" name="searchTerm" class="form-control" type="search" placeholder="Find decks" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </div>
      </div>
    </form>
    <ul class="navbar-nav flex-grow-1 justify-content-end">
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
      </li>
      <li class="nav-item" *appUserRole="'ANONYMOUS'">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item dropdown" *appUserRole="'USER'">
        <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{username$ | async}}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown">
          <a class="dropdown-item" routerLink="/users/{{username$ | async}}/profile">Profile</a>
          <a class="dropdown-item" routerLink="/" (click)="logout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
