.lgfont {
  font-size: 2em;
}
.card-container {
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.scene {
  width: 100%;
  max-width: 700px;
  min-height: 300px;
  perspective: 600px;
}
.flip-card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.flip-card-face {
  height: 100%;
  width: 100%;
  min-height: 300px;
  backface-visibility: hidden;

  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  background: white;
}

.flip-card-face-back {
  transform: rotateX(180deg);
  box-shadow: 0 0.5rem 1.3rem 0 rgba(0, 0, 0, 0.25);
}
.flipped {
  transition: transform 1s;
  transform: rotateX(180deg);
}

.img-front {
  max-height: 180px;
  max-width: 30%;
}

.img-back {
  max-height: 200px;
  max-width: 90%;
}
