<div *ngIf="category" class="container">
  <div class="card rounded pl-5 pt-2">
    <div class="col-md-9 mx-auto">
      <div class="row">
        <h2>Category '{{category.name}}'</h2>
        <div>
          <a routerLink="/categories/{{category.id}}/">
            <button class="btn-link ml-3 mt-2">view details</button>
          </a>
        </div>
      </div>
      <div>
        <div class="row pt-2">
          <div>
            <h3>Decks</h3><p *ngIf="filter" class="pl-1"> (filtered)</p>
          </div>
          <div *ngIf="filter">
            <a routerLink="/categories/{{category.id}}/decks">
              <button class="btn-link ml-3">view all</button>
            </a>
          </div>
        </div>
        <div *ngIf="category.decks" class="row pt-3">
          <div>
            <app-list
              [list]="filteredList"
              [specs]="specs"
              [path]="'decks'"
            >
            </app-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

