<div class="container mt-5 d-flex flex-column" *ngIf="deck && card">
	<h1 class=mb-4>Learning <a routerLink="/decks/{{deck.id}}">{{deck.name}}</a></h1>
	<div class="d-flex align-items-center flex-column wrapper">
		<div class="scene text-center" (click)="onFlip()">
			<div class=flip-card [ngClass]="backside ? 'flipped' : ''">
				<div class=flip-card-face [innerHtml]="card.textFront | md2html"></div>
				<div class="flip-card-face flip-card-face-back" [innerHtml]="card.textBack  | md2html"></div>
			</div>
		</div>
		<table *ngIf="flipped" class="text-center mt-3">
			<tr>
				<td><button class="btn btn-outline-info" (click)="onNext('AGAIN')">Again</button></td>
				<td><button class="btn btn-outline-info mx-3" (click)="onNext('GOOD')">Good</button></td>
				<td><button class="btn btn-outline-info" (click)="onNext('EASY')">Easy</button></td>
			</tr>
			<tr>
				<td>&lt; 1m</td><td>&lt; 10m</td><td>4d</td>
			</tr>
		</table>
	</div>
</div>
