.scene {
	width: 100%;
	max-width: 700px;
	height: 300px;
	perspective: 600px;
	font-size: 2em;
}
.flip-card {
	width: 100%;
	height: 100%;
	position: relative;
	transition: transform 1s;
	transform-style: preserve-3d;
}

.flip-card-face {
	height: 100%;
	width: 100%;
	backface-visibility: hidden;
	box-shadow: 0 .3rem 1.3rem 0 rgba(0,0,0,.25);
	position: absolute;

	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	background: white;
}

.flip-card-face-back {
	transform: rotateX( 180deg );
}
.flipped {
	transform: rotateX(180deg);
}
