<div class="container-md">
  <div class="card-danger rounded-0 bg-light">
    <div class="col-md-4 mx-auto">
      <app-list
        *ngIf="!this.error"
        [list]="categories"
        [specs]="specs" [path]="path"
        [messages]="messages"
      >
      </app-list>
    </div>
  </div>
</div>

<div *ngIf="this.error" class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Error!</strong> {{ errorMessage }}
  <button class="btn-primary" (click)="vanishError()">Dismiss</button>
</div>

