<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">
    Import cards to deck
    </h5>
    <button type="button" class="close" (click)="activeModal.dismiss()">
      &times;
    </button>

  </div>
  <div class="modal-body">
    <form [formGroup]="fileForm">
      <div class="form-group">
        <label for="fileSelect">
          <div class="alert alert-info">
          Instructions:
            <div class="ml-3">- File type must be .csv</div>
            <div class="ml-3">- Each row must contain the comma-separated fields <i>front side</i> and <i>back side</i></div>
            <div class="ml-3">- No header</div>
            <div class="ml-3">- Strings containing special characters, line breaks, double quotes(<span style="color: red"> " </span>) and commas(<span style="color: red"> , </span>)
              need to be put between double quotes</div>
            <div class="ml-3">- Double quotes within strings need to be doubled</div>
          </div>
        </label>
      </div>
      <input type="file" id="fileSelect" formControlName="fileSelect" (change)="onFileChange($event)">
    </form>
    <div *ngIf="fileForm.controls.fileSelect.errors" class="error">
      <small class="form-text text-warning">{{checkErrors()}}</small>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" [disabled]="!fileForm.valid" (click)="importCards()">Import</button>
    <button type="button" class="btn btn-light" (click)="activeModal.dismiss()">Cancel</button>
  </div>
</div>
