<form (ngSubmit)="onSubmit()" #cardForm="ngForm">
    <small>You can format your cards with <abbr title="Markdown allows text styling, lists and more">markdown</abbr> and <abbr title="With KaTeX you can create math formulas">katex</abbr> (<a routerLink="/help/markdown-syntax" target="blank">Help</a>)</small>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Front Text</span>
            </div>
            <textarea class="form-control" aria-label="Front Text" [(ngModel)]="card.textFront" name="textFront" required minlength="1" maxlength="{{globals.maxTextSize}}"></textarea>
        </div>
    </div>
    <div class="input-group mb-4">
        <div class="input-group-prepend">
            <span class="input-group-text">Front Image</span>
        </div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="input-front-image" (change)="onFileChange($event, 'front')">
            <label class="custom-file-label" for="input-front-image">{{filenameFront}}</label>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Back Text</span>
            </div>
            <textarea class="form-control" aria-label="Back Text" [(ngModel)]="card.textBack" name="textBack" required minlength="1" maxlength="{{globals.maxTextSize}}"></textarea>
        </div>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Back Image</span>
        </div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="input-back-image" (change)="onFileChange($event, 'back')">
            <label class="custom-file-label" for="input-back-image">{{filenameBack}}</label>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-outline-danger ml-2" (click)="onCancel()">Cancel</button>
</form>
