<form (ngSubmit)="onSubmit()" #cardForm="ngForm">
    <small>You can format your cards with <abbr title="Markdown allows text styling, lists and more">markdown</abbr> and <abbr title="With KaTeX you can create math formulas">katex</abbr> (<a routerLink="/help/markdown-syntax" target="blank">Help</a>)</small>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Front Text</span>
            </div>
            <textarea class="form-control" aria-label="Front Text" [(ngModel)]="card.textFront" name="textFront" required minlength="1" maxlength="{{globals.maxTextSize}}"></textarea>
        </div>
    </div>
    <div class="form-group">
      <input type="file" (change)="onFileChange($event, 'front')" class="form-control-file">
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Back Text</span>
            </div>
            <textarea class="form-control" aria-label="Back Text" [(ngModel)]="card.textBack" name="textBack" required minlength="1" maxlength="{{globals.maxTextSize}}"></textarea>
        </div>
    </div>
    <div class="form-group">
      <input type="file" (change)="onFileChange($event, 'back')" class="form-control-file">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-outline-danger ml-2" (click)="onCancel()">Cancel</button>
</form>
