.card-actions {
  visibility: hidden;
}

tr:hover .card-actions {
  visibility: visible;
}

.card-cell-container {
  display: flex;
  align-items: center;
}

.card-cell-container img {
  max-height: 70px;
  max-width: 100px;
}

:host ::ng-deep p {
  margin: 0em;
}
