<form (ngSubmit)="onSubmit()" #searchForm="ngForm">
  <div class="input-group" role="group">
    <input
      [(ngModel)]="searchTerm"
      name="searchTerm"
      class="form-control"
      type="search"
      placeholder="Find users"
      aria-label="Search for users"
    />
    <div class="input-group-append">
      <button class="btn btn-outline-dark" type="submit" [disabled]="loading">
        Search
      </button>
    </div>
  </div>
</form>

<div *ngIf="page && !users.length" class="mt-4">
  No users found.
</div>

<ul *ngIf="users.length" class="list-group mt-4">
  <a
    *ngFor="let user of users"
    routerLink="/users/{{ user.username }}/profile"
    class="list-group-item list-group-item-action"
  >
    {{ user.username }}
    <span *appUserRole="'ADMIN'">
      <div *ngIf="!user.admin && !user.deleted" class="btn-group float-right">
        <button
          *ngIf="user.enabled"
          class="btn btn-outline-danger"
          (click)="grantAdminRights($event, user)"
        >
          Make admin
        </button>
        <button
          *ngIf="user.enabled"
          class="btn btn-outline-danger"
          (click)="editEnabledStatus($event, user, false)"
        >
          Disable
        </button>
        <button
          *ngIf="!user.enabled"
          class="btn btn-outline-danger"
          (click)="editEnabledStatus($event, user, true)"
        >
          Enable
        </button>
        <button class="btn btn-outline-danger" (click)="delete($event, user)">
          Delete
        </button>
      </div>
    </span>
  </a>
</ul>
<div *ngIf="loading" class="spinner-grow text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div *ngIf="!loading && page && !page.last" class="mt-4">
  <button class="btn btn-secondary" (click)="loadUsers()">
    Load more
  </button>
</div>
