  <form (ngSubmit)="onSubmit()" #searchForm="ngForm" class="form-inline my-2 my-lg-0 mr-auto mw-25 flex-grow-1">
    <div class="input-group flex-grow-1" role="group">
      <input [(ngModel)]="searchTerm" name="searchTerm" class="form-control" type="search" placeholder="Find users" aria-label="Search">
      <div class="input-group-append">
        <button class="btn btn-outline-dark" type="submit">Search</button>
      </div>
    </div>
  </form>

  <div *ngIf="page && !users.length" class="alert-danger mt-4">No users found.</div>

  <div *ngIf="users.length" class="card mt-4">
    <div class="card-header">
      Results
    </div>
    <ul class="list-group list-group-flush">
      <a *ngFor="let user of users" routerLink="/users/{{user.username}}/profile" class="list-group-item list-group-item-action">{{user.username}}
        <span *appUserRole="'ADMIN'">
          <div *ngIf="!user.admin && !user.deleted" class="btn-group float-right">
            <button *ngIf="user.enabled" class="btn btn-outline-danger" (click)="grantAdminRights($event, user)">Make admin</button>
            <button *ngIf="user.enabled" class="btn btn-outline-danger" (click)="editEnabledStatus($event, user, false)">Disable</button>
            <button *ngIf="!user.enabled" class="btn btn-outline-danger" (click)="editEnabledStatus($event, user, true)">Enable</button>
            <button class="btn btn-outline-danger" (click)="delete($event, user)">Delete</button>
          </div>
        </span>
      </a>
    </ul>
    <button *ngIf="!page.last" class="card-footer btn p-1" (click)="loadUsers()">
      Load more...
    </button>
  </div>
