<h2>Favorites</h2>
<div *ngIf="favorites">
  <div *ngIf="favorites.content.length">
    <ul class="list-group">
      <a
        *ngFor="let deck of favorites.content"
        routerLink="/decks/{{ deck.id }}"
        class="list-group-item list-group-item-action"
      >
        {{ deck.name }}
        <button
          class="btn btn-outline-danger float-right"
          (click)="
            $event.preventDefault();
            $event.stopPropagation();
            removeFavorite(deck.id)
          "
        >
          Remove
        </button>
      </a>
    </ul>
    <ngb-pagination
      *ngIf="favorites.totalPages > 1"
      [maxSize]="10"
      [page]="favorites.pageable.pageNumber + 1"
      [rotate]="true"
      [collectionSize]="favorites.totalElements"
      [pageSize]="favorites.pageable.pageSize"
      (pageChange)="loadFavoritePage($event)"
    ></ngb-pagination>
  </div>
  <div *ngIf="!favorites.content.length">
    No favorites added. When viewing decks you can click "Save" to easily find
    them later on.
  </div>
</div>
<div *ngIf="progressPage && progressPage.content.length">
  <h2 class="mt-3">Learned Decks</h2>
  <ul class="list-group mb-2">
    <ng-container *ngFor="let progress of progressList">
      <a
        routerLink="/learn/{{ progress.deckId }}"
        [queryParams]="progress.reverse ? { reverse: '' } : {}"
        class="list-group-item list-group-item-action"
        title="Learn {{ progress.deckName }}"
      >
        {{ progress.deckName }}
        <i *ngIf="progress.reverse" class="fas fa-undo ml-2"></i>
        <div class="float-right">
          <span *ngIf="progress.newCount" class="text-primary px-1">
            {{ progress.newCount }} new
          </span>
          <span *ngIf="progress.learningCount" class="text-danger px-1">
            {{ progress.learningCount }} learning
          </span>
          <span class="px-1">
            {{ progress.dueCount }} of {{ progress.totalCount }} cards are due
          </span>
          <button
            class="btn btn-outline-danger ml-2"
            (click)="deleteProgress($event, progress)"
          >
            Delete Progress
          </button>
        </div>
      </a>
    </ng-container>
  </ul>
  <ngb-pagination
    *ngIf="progressPage.totalPages > 1"
    [maxSize]="10"
    [page]="progressPage.pageable.pageNumber + 1"
    [rotate]="true"
    [collectionSize]="progressPage.totalElements"
    [pageSize]="progressPage.pageable.pageSize"
    (pageChange)="loadLearnedPage($event)"
  ></ngb-pagination>
</div>
