<div class="jumbotron">
    <h1 class="display-4">Welcome to CardWiki!</h1>
    <hr class="my-4">
  
    <h2 class="mt-4">Start Learning</h2>
    <p class="lead">
        <a routerLink="/search">Search</a> for existing decks and start learning.<br>
        <a routerLink="/login">Sign in</a> for a better learning experience.
    </p>
  
    <h2 class="mt-4">Create Decks</h2>
    <p class="lead">
        Sign in and create a new deck of cards.
        <br>Use <a routerLink="/help/markdown-syntax" fragment="markdown">Markdown</a>, <a routerLink="/help/markdown-syntax" fragment="katex">KaTeX</a> or simple text to format your cards.
    </p>
  
    <h2 class="mt-4">Collaborate</h2>
    <p class="lead">
        Contribute to existing decks by creating new cards, adding category tags, or just fixing typos.
    </p>
  
    <h2 class="mt-4">And more...</h2>
    <p class="lead">Read more about CardWiki on the <a routerLink="/about">About</a> page.</p>
</div>
