<div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Authentication problems!</strong> {{ errorMessage }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="pt-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formLogin"></span>

      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Login with OAuth 2.0</h3>
        </div>

        <div *ngIf="!oAuthInfo" class="card-body px-4">
          <a *ngFor="let provider of authProviders" class="btn btn-lg btn-outline-dark btn-{{provider.name}} w-100 my-2" role="button" href="{{authService.getProviderUrl(provider.id)}}">
            <img src="assets/images/{{provider.name}}.svg" height="24" class="mr-2 mb-1" type="image/svg+xml"/>
            {{provider.name}}
            <!--<span class="ml-2 mb-1" style="width: 24px;"></span> padding?-->
          </a>
        </div>

        <div *ngIf="oAuthInfo" class="card-body px-4">
          <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value.username)">
            <div class="form-group">
              <label for="usernameInput">Please choose a username to complete your registration:</label>
              <input type="text" class="form-control" id="usernameInput" aria-describedby="usernameHelp" placeholder="Enter username" formControlName="username" [ngModel]="_textValue" (ngModelChange)="ConvertToLower($event)" required>
              <small id="usernameHelp" class="form-text text-muted">Other users will be able to see this.</small>
              <div *ngIf="formUsername.invalid && (formUsername.dirty || formUsername.touched)"
                   class="alert alert-danger">
                <div *ngIf="formUsername.errors.required">
                  Name is required.
                </div>
                <div *ngIf="formUsername.errors.pattern">
                  Name must only contain alphanumeric characters, underscores or dashes.
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-outline-dark" [disabled]="registerForm.invalid">Register</button>
          </form>
        </div>

        <div *ngIf="username" class="card-body px-4">
          <div class="alert alert-success" role="alert">
            Hello {{username}}, welcome to CardWiki!
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
