<article>
  <p class="lead">A free collaborative flashcard application</p>
  <hr />
  <section>
    <h2 id="cardwiki" class="font-weight-normal">What is CardWiki?</h2>
    <p>
      CardWiki is a collaborative flashcard application. You can choose decks
      and then learn them using a spaced repetition algorithm. If you don't find
      what you want, you can create a new deck with just a few clicks.
    </p>
  </section>
  <hr />
  <section>
    <h2 id="why-wiki" class="font-weight-normal">Why &quot;Wiki&quot;?</h2>
    <p>
      CardWiki wants to make collaboration and sharing of card decks as easy as
      possible. With this Wiki approach we hope to foster a rich and diverse set
      of card decks, that is kept up to date by the community.
    </p>
    <p>
      Collaboration is possible because every registered user can create and
      edit decks. A history of the cards is stored, so that it is easy to view
      changes and prevent misbehavior.
    </p>
  </section>

  <hr />
  <section>
    <h2 id="learning" class="font-weight-normal">How does learning work?</h2>
    <p>
      Logged in users can select the decks they want to learn. Then CardWiki
      uses a "spaced repetition" algorithm to select the next cards to repeat.
      Simply said this means, that it shows you cards, which are not that well
      trained yet, and repeats this after an increasing time based on how good
      you knew it.
    </p>
    <p>
      There is also a "Preview" mode, which any user can use to cycle through a
      deck. Registration is not necessary for this, because it is not a
      personalized feature.
    </p>
  </section>
  <hr />
  <section>
    <h2 id="register" class="font-weight-normal">Do I need to register?</h2>
    <p>
      No, searching for decks and using the preview mode is available for all
      users. However, registration is necessary for creating and modifying
      decks.
    </p>
  </section>
</article>
