
body.theme-dark {
  color: #f8f9fa;
  background-color: #343a40;
}

.theme-dark .jumbotron.bg-white {
  background-color: #343a40!important;
}

.theme-dark .card {
  background-color: #6c757d!important;
}

.theme-dark .list-group-item {
  background-color: #6c757d!important;
}

.theme-dark .table-striped tbody tr:nth-of-type(odd) {
  background-color: #6c757d!important;;
}

.theme-dark {

  @import "../node_modules/bootstrap/scss/functions";
  @import "../node_modules/bootstrap/scss/variables";

  $body-color: #6D2077;  //this is the text color
  $body-bg: #343a40; //this is the background color

  // Typography

  $theme-colors: (
    "primary": #0074d9,
    "secondary": #343a40,
    "danger": #ff4136,
    "light": #6c757d,
    "gray-dark": #f8f9fa,
    "gray": #343a40,
    "dark": #f8f9fb,
  );

  @each $color, $value in $theme-colors {
    .swatch-#{$color} {
      color: color-yiq($value);
    }
  }

  @import "../node_modules/bootstrap/scss/bootstrap";
}
