<app-error *ngIf="result.error" [errorMessage]="result.errorMessage" (click)="vanishError()"></app-error>
<div *ngIf="result.category && !result.error" class="container-md-9 mt-4 pt-4 pb-4 pl-4 pr-4">
  <div class="card rounded pl-5 pt-2">
    <div class="col-md-9 mx-auto">
      <div class="row">
        <div>
          <p>View Category</p>
        </div>
      </div>
      <div *ngIf="result.category.name">
        <a *ngIf="result.category.parent" routerLink="/categories/{{result.category.parent.id}}" class="row">
          {{result.category.parent.name}} ┐
        </a>
        <div class="row">
          <h1>{{result.category.name}}</h1>
          <div>
            <a routerLink="/categories/{{result.category.id}}/edit">
              <button class="btn-link ml-3 mt-2">edit</button>
            </a>
          </div>
          <div>
            <a routerLink="/categories/new" [queryParams]="{ parent: result.category.name }">
              <button class="btn-link ml-3 mt-2">add subcategory</button>
            </a>
          </div>
        </div>
        <div *ngIf="result.category.children" class="row pt-3">
          <app-list-search
            [list]="result.category.children"
            [specs]="{ listSize: result.category.children.length, pageSize: 7, page: 1 }"
            [path]="'categories'"
            [messages]="{ header: 'Subcategories', success: 'Success', error: 'Error' }"
            [id]="result.category ? result.category.id : null"
          >
          </app-list-search>
        </div>
        <div *ngIf="result.category.decks" class="row pt-3">
          <div>
            <app-list-search
              [list]="result.category.decks"
              [specs]="{ listSize: result.category.decks.length, pageSize: 7, page: 1 }"
              [path]="'decks'"
              [messages]="{ header: 'Decks', success: 'Success', error: 'Error' }"
              [id]="result.category ? result.category.id : null"
            >
            </app-list-search>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

