<div *ngIf="category" class="container-md-9 mt-4 pt-4 pb-4 pl-4 pr-4">
  <div class="card rounded pl-3 pt-2">
    <div class="col-md-9 mx-auto">
      <div class="row">
        <div>
          <p>View Category</p>
        </div>
      </div>
      <div *ngIf="category.name" class="ml-0 pl-0">
        <div class="className pt-3 pl-2 pb-3 pr-3">
          <a *ngIf="category.parent" routerLink="/categories/{{category.parent.id}}"
             class="row ml-0 pl-2">
            {{category.parent.name}} ┐
          </a>
          <div class="row ml-0 pl-2 pr-3">
            <h2 class="mr-4 pt-1">{{category.name}}</h2>
            <div class="pt-1 mr-2">
              <a routerLink="/categories/{{category.id}}/edit">
                <button class="btn btn-outline-secondary pl-4 pr-4">Edit</button>
              </a>
            </div>
            <div class="pt-1">
              <a routerLink="/categories/new" [queryParams]="{ parent: category.name }">
                <button class="btn btn-outline-secondary">Add subcategory</button>
              </a>
            </div>
          </div>
        </div>
        <div *ngIf="category.children" class="row pt-3">
          <app-list-search
            [list]="category.children"
            [specs]="{ listSize: category.children.length, pageSize: 7, page: 1 }"
            [path]="'categories'"
            [messages]="{ header: 'Subcategories', success: 'Success', error: 'Error' }"
            [id]="category ? category.id : null"
          >
          </app-list-search>
        </div>
        <div *ngIf="category.decks" class="row pt-3">
          <div>
            <app-list-search
              [list]="category.decks"
              [specs]="{ listSize: category.decks.length, pageSize: 7, page: 1 }"
              [path]="'decks'"
              [messages]="{ header: 'Decks', success: 'Success', error: 'Error' }"
              [id]="category ? category.id : null"
            >
            </app-list-search>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

