<app-error *ngIf="result.error" [errorMessage]="result.errorMessage" (click)="vanishError()"></app-error>
<div *ngIf="result.category && !result.error" class="container my-5">
  <div *ngIf="result.category.name">
	<div class="pt-3 pb-3 pr-3">
	  <a *ngIf="result.category.parent" routerLink="/categories/{{result.category.parent.id}}">
		<i class="fas fa-arrow-up"></i> {{result.category.parent.name}}
	  </a>
	  <div class=float-right>
	    <a class="btn btn-outline-secondary" routerLink="/categories/{{result.category.id}}/edit">Edit</a>
      </div>
	  <h1><i class="far fa-folder"></i> {{result.category.name}}</h1>
	</div>
	<div *ngIf="result.category.children" class=mb-3>
	  <h2>Subcategories</h2>
	  <app-list-search
		[list]="result.category.children"
		[specs]="{ listSize: result.category.children.length, pageSize: 7, page: 1 }"
		[path]="'categories'"
		[messages]="{ success: 'Success', error: 'Error' }"
		[id]="result.category ? result.category.id : null"
	  >
	  </app-list-search>
	  <a class="btn btn-outline-success" routerLink="/categories/new" [queryParams]="{ parent: result.category.name }">Add subcategory</a>
	</div>
	<div *ngIf="result.category.decks">
	  <h2>Decks</h2>
	  <div>
		<app-list-search
		  [list]="result.category.decks"
		  [specs]="{ listSize: result.category.decks.length, pageSize: 7, page: 1 }"
		  [path]="'decks'"
		  [messages]="{ success: 'Success', error: 'Error' }"
		  [id]="result.category ? result.category.id : null"
		>
		</app-list-search>
	  </div>
	</div>
  </div>
</div>

