<div class="container">
  <div *ngIf="cardDiffHtml" class="mt-3">
    <h3>Difference:</h3>
    <ng-container *appUserRole="'USER'">
      <button class="btn btn-light mb-2" (click)="revert()">
        Revert
      </button>
    </ng-container>
    <h4>Front Side</h4>
    <div class="row justify-content-center">
      <div [innerHtml]="cardDiffHtml.front"></div>
    </div>
    <hr class="mx-2" />
    <h4>Back Side</h4>
    <div class="row justify-content-center">
      <div [innerHtml]="cardDiffHtml.back"></div>
    </div>
    <hr class="mx-2" />
  </div>
  <div class="row justify-content-center">
    <app-card-revision
      class="w-50 p-4"
      [cardRevision]="old"
    ></app-card-revision>
    <app-card-revision
      class="w-50 p-4"
      [cardRevision]="new"
    ></app-card-revision>
  </div>
</div>
