<div *ngIf="specs" class="row ml-0">
  <div *ngIf="list.length > 0">
    <ul>
      <li *ngFor="let item of list |
                  slice: (specs.page - 1) * specs.pageSize : (specs.page - 1) * specs.pageSize + specs.pageSize
                  trackBy: trackChange"
      >
        <a routerLink="/{{path}}/{{item.id}}">{{item.name}}</a>
        <button *ngIf="admin" class="btn btn-outline-danger ml-2 mb-1" (click)="deleteCategory(item)">Delete</button>
      </li>
    </ul>
    <div class="xyz" id="pagination">
      <ngb-pagination
        class="row ml-0 pl-4"
        [(page)]=specs.page
        [pageSize]=specs.pageSize
        [collectionSize]="list.length"
        size="sm"
        *ngIf="list.length > specs.pageSize"
      >
      </ngb-pagination>
    </div>
  </div>
  <div *ngIf="list.length === 0" class="row pl-4 ml-0">None found.</div>
</div>

