<div class="container mt-5 mb-5" *ngIf="cards" style="max-width: 700px">
  <div class="row">
    <div class="col-9">
      <a routerLink="/decks/{{deck.id}}" class="btn btn-light float-left mr-1"><i class="fas fa-arrow-left"></i> Back to {{deck.name}}</a>
      <ng-template #popControls><kbd>Spacebar</kbd> Flip card<br><kbd>Arrow Up</kbd> Show front of card<br><kbd>Arrow Down</kbd> Show back of card<br><kbd>Arrow Right</kbd> Next card<br><kbd>Arrow Left</kbd> Previous Card</ng-template>
      <button type="button" class="btn btn-light ml-2" placement="bottom" triggers="mouseenter:mouseleave" [ngbPopover]="popControls">
        Controls
      </button>
    </div>

    <div class="col-3">
      <div class="btn-group float-right">
        <a routerLink="/decks/{{deck.id}}/cards/{{currentcard.id}}/edit" class="btn btn-light"><i class="fas fa-pencil-alt"></i></a>
        <button type="button" class="btn btn-light"><i class="fas fa-history"></i></button>
      </div>
    </div>
  </div>

  <div class="card text-center mt-3">
    <div class="card-header">
      Preview ({{flipped ? "Back" : "Front"}})
    </div>
    <div class="card-body card-content d-flex justify-content-center" (click)="flip()" style="min-height: 300px">
      <h5 class="card-title my-3 align-self-center" *ngIf="!flipped" [innerHtml]="currentcard.textFront | md2html"></h5>
      <h5 class="card-title my-3 align-self-center" *ngIf="flipped" [innerHtml]="currentcard.textBack | md2html"></h5>
    </div>

    <div class="card-footer btn-group p-0">
      <button (click)="previousCard()" type="button" class="btn btn-light border-right card-navigation">
        <div class="text-muted">
          <i class="fas fa-arrow-left"></i> Previous
        </div>
      </button>

      <button (click)="nextCard()" type="button" class="btn btn-light border-left card-navigation">
        <div class="text-muted">
          Next <i class="fas fa-arrow-right"></i>
        </div>
      </button>
    </div>
  </div>
</div>
