<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title"></h5>
    Create card deck
    <button type="button" class="close" (click)="activeModal.dismiss()">
      &times;
    </button>
  </div>
  <form (ngSubmit)="createDeck()" [formGroup]="deckForm">
    <div class="modal-body">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          ngbAutofocus
          type="text"
          class="form-control"
          id="name"
          formControlName="name"
        />
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!deckForm.valid"
      >
        Create
      </button>
      <button
        type="button"
        class="btn btn-secondary"
        (click)="activeModal.dismiss()"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
